
/****** Default & General Styling ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 75%);
}

h1, h5, h6, p  {
    font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, a {
    font-family: 'Raleway', sans-serif;
}

/*** Wrapper ***/

.wrapper {
    background-color: white;
    color: hsl(243, 87%, 12%);
    margin: 0 auto 0 auto;
    max-width: 375px;
    padding-top: 25px;
}

/** Navigation Bar **/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 0 25px;
}

header img {
    width: 85px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style: none;
}

li a {
    color: hsl(238, 22%, 44%);
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    vertical-align: text-bottom;
}


/** Main Section **/

main img {
    width: 320px;
}

/* Features */

#features {
    text-align: center;
    padding: 0 25px;
}

h1 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 60px auto 30px;
}

#features p  {
    color: hsl(238, 22%, 44%);
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.5;
}

.FeaturesF {
    display: grid;
}

.FeaturesI {
    border-color: hsl(0, 0%, 75%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.80rem;
    margin: 35px 0 18px;
    padding: 13px 25px;
}

::placeholder { 
    color: hsl(0, 0%, 85%);
    opacity: 1;
  }

.GetStartedBtn {
    background-color: hsl(224, 93%, 58%);
    border-radius: 4px;
    box-shadow: 0 5px 10px -3px hsl(0, 0%, 75%);
    color: white;
    font-size: 0.95rem;
    margin-bottom: 140px;
    padding: 13px;
}

/* Team */

#team  {
    background-color: hsl(240, 40%, 98%);
    text-align: center;
    padding-bottom: 85px;
}

.curve {
    position: relative;
    bottom: 40px;
    width: auto;
}

.CurveDesktop {
    display: none;
}

h3 {
    font-size: 1.1rem;
    margin: 90px auto 30px;
}

#team p {
    color: hsl(238, 22%, 44%);
    font-size: 0.95rem;
    line-height: 1.5;
    margin: auto 20px;
    text-align: left;
}

h5 {
    border-style: none none solid none;
    border-width: 1px;
    color: hsl(170, 45%, 43%);
    display: inline-block;
    font-weight: 400;
    margin: 40px auto;
    padding-bottom: 5px;
}

h5 img {
    margin-left: 3px;
    vertical-align: sub;
    width: 18px;
}

/* Testimonial */

#testimonial {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 20px -6px hsl(0, 0%, 75%);
    margin: auto 40px;
    padding: 17px 22px;
    text-align: left;
}

.QuotesIcon {
    width: 13px;
    margin-bottom: 3px;
}

#testimonial P {
    color: hsl(238, 22%, 44%);
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 2;
    margin: 0;
}

#avatar {
    margin-top: 15px;
}

h6 {
    font-size: 0.65rem;
}

#avatar img {
    border-radius: 50px;
    float: left;
    margin-right: 5px;
    width: 28px;
}

#avatar p {
    font-size: 0.40rem;
}

/* Sign In */

#SignIn {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    padding: 60px 40px 70px;
    text-align: center;
}

h2 {
    font-size: 1.20rem;
}

#SignIn p {
    font-size: 0.90rem;
    line-height: 1.60;
    margin: 20px auto 25px;
}

.SignInF {
    display: grid;
}

.SignInI {
    border-radius: 2px;
    border-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    margin: 0 20px;
    padding: 11px 10px;
}

.GetStartedBtnFF {
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    box-shadow: 0 5px 10px -3px hsl(238, 22%, 44%);
    color: white;
    margin: 8px 20px;
    padding: 11px;
}

#SignIn h4 {
    font-size: 0.70rem;
    font-weight: 400;
}

/** Footer **/

footer {
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    padding: 70px 40px 50px;
}

.logo-footer {
    width: 180px;
    margin-bottom: 30px;
}

footer h2 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2.5;
}

.icon-footer {
    margin-right: 15px;
    vertical-align: bottom;
}

.FooterContainer2 {
    margin: 40px auto;
}


.FooterContainer4 {
    margin: 40px auto 0;
    text-align: center;
}

.fab {
    margin: 6.5px;
}

.OPBorder {
    border: 1px;
    border-style: solid;
    border-color: hsl(240, 75%, 98%);
    border-radius: 50%;
    display: inline-block;
    font-size: 0.95rem;
    height: 30px;
    width: 30px;
    margin: 4px;
}

/** Attribution **/

.attribution {
    background-color: hsl(238, 22%, 44%);
    color: hsl(0, 0%, 75%);
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}

.attribution strong { 
    color: hsl(243, 87%, 12%);
}


@media (min-width:960px) {

/*** Wrapper ***/
    
.wrapper {
    max-width: 1440px;
    padding-top: 50px;
}

/** Navigation Bar **/

header {
    padding: 0 70px;
    margin-bottom: 0;
}

header img {
    width: 150px;
}

ul {
    align-items: center;
}

li a {
    font-size: 0.9rem;
    margin-left: 60px;
}

/** Main Section **/

/* Features */

#features {
    text-align: left;
    padding: 80px 70px 260px;
}

.IFeatures {
    float: right;
    height: 400px;
    width: 600px;
    margin-left: 70px;
}

h1 {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 10px;
    padding-top: 60px;
}

#features p  {
    font-size: 1rem;
}

.FeaturesF {
    display: inline-block;
}

.FeaturesI {
    border-color: hsl(238, 22%, 44%);
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
    padding: 10px 105px 10px 20px;
}

::placeholder { 
    font-size: 0.75rem;
  }

.GetStartedBtn {
    display: inline-block;
    font-size: 0.75rem;
    margin: 20px 10px;
    padding: 13px 55px;
    vertical-align: top;
}

/* Team */

#team  {
    text-align: left;
}

.curve {
    display: none;
}

.CurveDesktop {
    display: inline-block;
    position: relative;
    bottom: 65px;
    width: 1345px;
    height: 100px;
}

.MainTeamContainer {
    display: flex;
    flex-direction: row-reverse;
}

.ITeam {
    height: 370px;
    width: 510px;
    margin: 25px 70px 0 0;
}

h3 {
    font-size: 2.4rem;
    margin: 0 0 30px 70px;
}

#team p {
    font-weight: 700;
    margin: 0 0 0 70px;
    padding-right: 190px;
}

h5 {
    margin: 18px 0 40px 70px;
    font-size: 1rem;
}

/* Testimonial */

#testimonial {
    margin: 0 375px 0 70px;
    padding: 25px 35px;
}

#testimonial P {
    font-size: 0.75rem;
    line-height: 1.75;
    margin: 0;
    padding-right: 0;
}

/* Sign In */

#SignIn {
    display: flex;
    padding: 90px 70px 50px;
    text-align: left;
}

h2 {
    font-size: 1.75rem;
}

#SignIn p {
    font-size: 0.85rem;
    margin: 15px 280px 25px 0;
}

.SignInF {
    display: grid;
}

.SignInI {
    box-shadow: 3px 3px 10px -6px hsl(243, 87%, 12%);
    margin: 0 30px 5px 20px;
    padding: 14px 300px 14px 20px;
}

.GetStartedBtnFF {
    box-shadow: 3px 3px 10px -6px hsl(243, 87%, 12%);
    margin: 8px 300px 0 20px;
    padding: 14px 0;
    text-align: center;
}

#SignIn h4 {
    font-size: 0.80rem;
    font-weight: 600;
}

/** Footer **/

footer {
    padding: 90px 70px 70px;
}

.MainFooterContainer {
    display: grid;
    grid-template-columns: 430px 270px 250px auto;
    grid-template-rows: 1fr;
}

.logo-footer {
    margin-bottom: 10px;
}

footer h2 {
    font-size: 0.95rem;
}

.icon-footer {
    margin-right: -3px;
}

.FooterContainer2 {
    margin: 0;
}

.FooterContainer4 {
    margin: 5px 0;
    text-align: left;
}

.fab {
    margin: 6.5px;
}

.OPBorder {
    text-align: center;
}

}